<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <title>Document</title>
    <style>
        body {
            margin-top: 100px;
            font-family: 'Fira Sans', sans-serif;
            display: flex;
            font-size: 30px;
            justify-content: center;
        }
        a {
            padding: 0 5px;
            text-decoration: none;
            border-bottom: 2px solid rgb(0, 188, 212);
        }

    </style>
</head>
<body>
    You can find app  <a href="https://blevantovych.github.io/Diplom">here</a>
    and code <a href="https://github.com/blevantovych/Diplom">here</a>
</body>
</html>