body {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 1.01em !important;
  font-weight: 100;
  // font-family: 'Roboto', sans-serif  !important;
}

#minmax {
  color: red !important;
}

#download_desc_link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
